@import '../../variables.scss';

.button {
  @include button-reset();
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: $brand-font-stack;
  padding: 1.2em 2.4em;
  background-color: $primary-color;
  border-radius: 4em;
  border: 2px solid #fff;
  color: #fff;
  transition: all $transition-timing;
  vertical-align: center;

  &:hover,
  &:focus {
    border: 2px solid $brand-blue;
    color: $brand-blue;
    background: #fff;
  }

  &--inverted {
    color: $primary-color;
    border: 2px solid $brand-blue;
    background-color: #fff;
    &:hover,
    &:focus {
      color: #fff;
      background: $brand-blue;
    }
  }

  &:disabled {
      cursor: not-allowed;
    &:hover {

    }
  }
  &--small {
    font-size: 13px;
    padding: 0.4rem 0.6rem;
  }

  &--large {
    font-size: 24px;
  }

  &--extra-large {
    font-size: 36px;
  }
  &--flat {
    @include button-reset();
    font-size: 14px;
    text-transform: uppercase;
    padding: .6em;
    min-width: 2em;

    &:hover,
    &:focus {
      border-radius: $material-border-radius;
      background-color: rgba(#999, .26);
    }

    &:disabled {
      color: rgba(#000, .26);
    }
  }

  * + * {
    margin-left: .5em;
  }
}
