@import '../../../variables.scss';

/*LOGIN*/

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  background: #fff;
  box-shadow: 4px 3px 39px -1px rgba(0,0,0,0.62);
  padding: 2rem;
}

.login-small-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.login-title {
  font-family: $brand-font-stack;
  font-size: 2.5rem;
  font-weight: 600;
  color: $brand-blue;
}

.login-button-container {
  display: flex;
  flex-flow: column;
}

.input-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.submit {
  border: 1px solid black;
  margin-bottom: 3rem;
}

.test {
  margin-top: 1.5rem;
}

.submit_button{
  display: flex;
  font-weight: 400;
  font-size: 20px;
  padding: 0.6rem 1rem;
  margin: 17px auto 10px auto;
}
.submit_div{
  text-align: center;
  margin: 0;
  font-size: 0.6rem;
}

.form-field__error {
  font-family: $brand-font-stack;
  color: $alert-color;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}
input{
  width: 95%;
}
