@import '../../../variables.scss';

.dashboard-story-container{
    width: 100%;
    margin-bottom: 50px;
}
.dashboard-story-container .button{
    padding: 0.4rem 0.6rem;
    font-weight: 400;
    margin: 0 10px 0 0;
}
.story-dashboard-header{
    margin-top: -10px;
    padding: 30px 0 15px 60px;
    border-bottom: 2px solid $brand-blue;
    background: #fff;
    width: 100%;
}
.story-dashboard-header span{
    color: $brand-blue;
    font-size: 1rem;
}
.story-dashboard-header h1{
    color: $brand-blue;
    font-size: 1.4rem;
    margin-bottom: 0;
    padding: 0;
}
.story-dashboard-body{
    width: calc(100% - 60px);
    margin-top: -15px;
}
.story-info{
    background: #fff;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.38);
    padding: 0;
}
.story-info-header{
    background: $brand-blue;
    margin: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
}

.story-info-header h1{
    font-size: 1.3rem;
    color: #fff;
    padding: 0;
    line-height: 1.8rem;
    margin: 20px 0 auto 0;
}
.story-info-header img{
    border-radius: 50%;
    width: 100px;
}
.story-info-body{
    padding: 0 15px 15px 45px;
}
.story-info-body .blue-text{
    color: $brand-blue;
}
.dashboard-story-container .story-edit-button{
    color: $brand-orange;
    border-color: $brand-orange;
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
    margin: 0;
}
.story-info-button-container{
    text-align: center;
}
