.img-choice {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.img-correct, .img-wrong {
  border-style: solid;
  border-width: 3vh;
}

.img-correct {
  border-color: green;
}

.img-wrong {
  border-color: red;
}
