@import '../../variables.scss';

.module-list-root{
    padding-left: 25px;
}
.reset-button{
    background: $brand-orange;
}
.module-list-root h1{
    color: $brand-blue;
    font-size: 1.4rem;
    margin-bottom: 0;
    padding: 0;
}